.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu:focus .dropdown-menu {
    display: none;
}